@font-face {
    font-family: poppins-regular;
    src: url(Fontes/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(Fontes/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(Fontes/Poppins/Poppins-Bold.ttf);

}

*{
    margin: 0 ;
    padding: 0;

}

body{
    background-color: black;
    margin-left: 250px;
    margin-right: 250px;
    height: 3240px;
}

.container-pai{

    display: flex;
    flex-direction: column;
    padding-top: 78px;
    height: 100%;
    width: 100%;

}
.container-logo{
    display: flex;
    justify-content: end;
    align-items: start;
    height: 191px;
    width: 893px;
    margin-bottom: 137px;
}

.logo{
    margin-right: 35px;
    height: 191px;
    width: 213px;
}

.container-cta{
    display: flex;
    justify-content:start;
    align-items: start;
    height: 247px;
    width:893px;
    margin-bottom: 78px;
}
.cta{
    color:white;
    font-size: 27pt;
    font-family: poppins-bold;
    line-height: 125.3%;
}

.vermelho{
    color: #F3061C;

}

.botao{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    height: 92.77px;
    width:795px;
    background-color:#F3061C;
    color: white;
    font-family: poppins-bold;
    font-size: 24pt;
    border-radius: 21px;
    border: 0;
    box-shadow: 0px 4px 35px rgb(243, 6, 28, .5);
    margin-bottom: 373px;
}

.botao:hover{
    cursor:pointer;
}

.botao:before{
    content: url("Imagens/wpp.png");
    transform: translateY(9%);
    position: absolute;
    left: 28px;
}

.container-gabriel {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* Corrige o deslocamento vertical */
    /*z-index: -1;*/
}

.container2 {
    display: flex;
    flex-direction: row;
}

.imagem{
    height: 845.5px;
    width: 943.35px;
}

.container-vantagens{
    display: flex;
    flex-direction: column;
}

.vantagens{
    color:white;
    font-size: 30pt;
    font-family: poppins-regular;
    line-height: 125.3%;
    margin-bottom: 101px;
}

.vant{
    font-family: poppins-bold;
}

.tech{
    font-family: poppins-bold;
    color: #F3061C;
}
.vantagem1{
    margin-left: 83px;
    color:white;
    font-size: 18pt;
    font-family: poppins-regular;
    line-height: 125.3%;
    margin-bottom: 63px;
    position: relative;

}
.vantagem2{
    margin-left: 83px;
    color:white;
    font-size: 18pt;
    font-family: poppins-regular;
    line-height: 125.3%;
    margin-bottom: 63px;
    position: relative;

}
.vantagem3{
    margin-left: 83px;
    color:white;
    font-size: 18pt;
    font-family: poppins-regular;
    line-height: 125.3%;
    position: relative;

}
.vantagem1::first-line{
    color: #F3061C;
    font-family: poppins-bold;

}
.vantagem2::first-line{
    color: #F3061C;
    font-family: poppins-bold;
}

.v3{
    color: #F3061C;
    font-family: poppins-bold;
}

.vantagem1:before{
    content: url("Imagens/dinheiro.png");
    transform: translateY(9%);
    position: absolute;
    left: -90px;
}
.vantagem2:before{
    content: url("Imagens/entrega.png");
    transform: translateY(9%);
    position: absolute;
    left: -90px;
}
.vantagem3:before{
    content: url("Imagens/taxa.png");
    transform: translateY(9%);
    position: absolute;
    left: -90px;
}

.destaque{
    font-family: poppins-bold;

}
