@font-face {
    font-family: poppins-regular;
    src: url(Fontes/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(Fontes/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(Fontes/Poppins/Poppins-Bold.ttf);

}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
header figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
header figure img{
    width: 123px;
    height: 110px;
}
main{
    color: white;
    padding-left: 150px;
    padding-right: 150px;

}
.pagina1{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
.bloco_maintext{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    height: 400px;
    gap: 35px;
}
.bloco_maintext> h1{
    font-family: poppins-bold;
    line-height: 98%;
    font-size: 23px;

}
.bloco_maintext> h1 > span{
    color: #F3061C;
}

.bloco_maintext > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F3061C;
    border: none;
    border-radius: 10px;
    width: 530px;
    color: white;
    font-family: poppins-bold;
    font-size: 20px;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);
    height: 70px;
    cursor: pointer;
    box-shadow: 0px 4px 45px #F3061C;
    margin-left: auto;
    margin-right: auto;

}
.bloco_maintext > button img{
    margin-left:-140px; 
    transform: scale(.70);
     margin-right: 60px; 
}
.bloco_maintext > button:hover{
    transition: .5s;
    transform: scale(1.05);
}
.foto_gabriel{
    height: 710px;
    margin-right: -50px;
    margin-top: -150px;
}

.pagina2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.pagina2 figure img{
    height: 710px;
    margin-left: -80px;

}

.bloco_benefic h2{
    font-family: poppins-regular;
    line-height: 98%;
    font-size: 34px;
    padding-right: 49px;
    margin-bottom: 80px;
}
.h2_bold{
    font-family: poppins-bold;

}
.h2_vermelho{
    font-family: poppins-bold;
    color:#F3061C;
}
.beneficios{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 89px;
    font-family: poppins-regular;
    line-height: 98%;
    font-size: 22px;

}
.beneficios img{
    height: 55px;
}