@media screen and (max-width: 1280px){
    body{
        margin-left: 150px;
        margin-right: 150px;
    }
    .container-logo{
        display: flex;
        justify-content: center;
        align-items: start;
        height: 191px;
        width: 100%;
        margin-bottom: 75px;
    }

    .container-gabriel {
        position: absolute;
        top: 50%;
        right: 0;
        width: 620.1px;
        height: 814.5px;
        transform: translateY(-50%); /* Corrige o deslocamento vertical */
        /*z-index: -1;*/
    }
    .gabriel{
        width: 620.1px;
        height: 814.5px;
    }
    .container-cta{
        display: flex;
        justify-content:start;
        align-items: start;
        height: 247px;
        width:575px;
        margin-bottom: 10px;

    }

    .cta{
        font-size: 18.5pt;
    }
    .botao{

        height: 70.96px;
        width:608.17px;
    }
}
