@media only screen and (max-width: 450px) {
   
    .pagina2 {
        flex-direction: column;
        align-items: center;
    }
    .pagina2 figure img{
        height: 710px;
        margin-left: -10px;
        margin-top: 0;
        height: auto;
        width: 100%;
        
       }
       .bloco_benefic{
           height: auto;
       }
       .bloco_benefic h2{
           font-size: 18px;
           margin-top: 2rem;
           margin-bottom: 2rem;
   
   
   
       }
       .beneficios{
   
           padding-right: -100px;
           font-size: 15px;
   
       }
       
}
@media  only screen and (max-width: 850px) {
    body {
        padding: 0 20px; /* Ajuste o padding conforme necessário para telas menores */
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pagina1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bloco_maintext {
        height: auto;
        text-align: center;
    }

    .bloco_maintext > h1 {
        font-size: 18px;
    }

    .bloco_maintext > button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        z-index: 1;

    }

    .foto_gabriel {
        margin-right: 0;
        margin-top: 0;
        height: auto;
        width: 100%;
    }
    .bloco_maintext > button img {
        transform: scale(.70);
        margin-left: -3.5rem;
        margin-right: 0; 
    }
    /* pagina 2 */
    .pagina2 figure img{
     margin-right: 0;
        margin-top: 0;
        height: auto;
        width: 100%;
     
    }
    .bloco_benefic{
        height: auto;
    }
    .bloco_benefic h2{
        font-size: 18px;
        margin-top: 2rem;
        margin-bottom: 2rem;



    }
    .beneficios{

        padding-right: 105px;
        font-size: 15px;

    }
    
}

@media only screen and (max-width: 1300px) and (min-width: 851px) {
    .bloco_maintext > h1 {
        font-size: 18px;
        max-width: 100%; /* Adicionado para garantir que o texto não ultrapasse a largura do contêiner */
        padding: 0 20px; /* Adicionado para dar espaço interno ao contêiner de texto */
    }
    .bloco_maintext {
        max-width: 100%;
    }



    .bloco_maintext > button {
        max-width: 100%;
    }

    .foto_gabriel {
        max-width: 250%; 
        margin-right: 0;
        margin-top: 0;
        height: auto;
    }
    
}